server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/openclass?characterEncoding=utf8&useSSL=false
    username: root
    password: root
    driver-class-name: com.mysql.jdbc.Driver
